*{
	margin: 0;
	padding: 0;
}
p
{
	color: red;
}
.text{
	color: green;
}
#box{
	font-size: 50px;
}
.con{
	width: 249px;
	height: 200px;
	background: green;
	color: blue;
	font-size: 40px;
	text-align: center;
	line-height: 200px;
	margin: 10px 20px 40px;
	/*边框：大小 颜色 样式；*/
	border: 2px #000 dotted;
	border-top-style: dotted;
}
.son{
	width: 50px;
	height: 50px;
	background: red;
	margin: 0 auto;
}
.picture{
	width: 200px;
	height: 200px;
	background: blue;
	background-image: url("https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2128063105,1025744326&fm=58");
	background-size: cover;
	

}